#app {
    background-color: lightgray;
    border-radius: 3%;
    margin: 0 auto;
    min-width: 500px;
    padding: 10px 50px;
}

.cat-list {
    width: 100px;
    border: solid 1px;
    padding: 0;
    background-color: lightblue;
    text-align: center;
    list-style: none;
}

.cat-list li {
    border: 1px solid;
}

.cat-list li:hover {
    background-color: azure;
    cursor: pointer;
}